---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Not Found" description="Page not found">
  <main class="max-w-7xl mx-auto px-4 sm:px-8 pt-5">
    <h1 class="font-mono text-2xl sm:text-3xl md:text-5xl">Page Not Found</h1>
    <p class="mt-5">
      <a href="/" class="underline hover:text-gray-600"
        >Go back to the home page</a
      > or use the navigation bar to go to another page.
    </p>
  </main>
</Layout>
