---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Education">
  <main class="max-w-7xl mx-auto px-4 sm:px-8 pt-5">
    <h1 class="font-mono text-2xl sm:text-3xl md:text-5xl">Education</h1>
    <section class="flex">
      <div class="max-w-xl">
        <h2 class="font-mono text-xl mt-5">High School (2020-2024)</h2>
        <p>
          I attended the
          <a
            href="https://sites.google.com/tdsb.on.ca/mgci-tops/home"
            target="_blank"
            class="underline">TOPS Program</a
          >
          at Marc Garneau Collegiate Institute, a specialized high school program
          with enrichment in the maths, sciences, and language arts. During my time
          at MGCI, I was primarily involved in the robotics club (becoming a software
          lead in grade 12) and basketball teams (winning Most Dedicated Player on
          the 2021-22 junior boys basketball team).
        </p>
      </div>
    </section>
    <section class="flex">
      <div class="max-w-xl">
        <h2 class="font-mono text-xl mt-5">University (2024-2029)</h2>
        <p>
          I'm an incoming Software Engineering student at the University of
          Waterloo. Looking forward to getting started this September!
        </p>
      </div>
    </section>
  </main>
</Layout>
