---
import Timeline from "../components/Timeline.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Experience">
  <main class="max-w-7xl mx-auto px-4 sm:px-8">
    <h1 class="font-mono text-2xl sm:text-3xl md:text-5xl">Experience</h1>
    <Timeline />
  </main>
</Layout>
