---
import Greeting from "../components/Greeting.astro";
import Layout from "../layouts/Layout.astro";

const sections = [
  {
    title: "Experience",
    description: "My work experience, extracurriculars, and volunteering.",
    hoverStyle: "hover:bg-orange-200 hover:text-black",
    href: "/experience",
  },
  {
    title: "Education",
    description: "What I've done at school, from grade 9 to university.",
    hoverStyle: "hover:bg-purple-200 hover:text-black",
    href: "/education",
  },
  {
    title: "Projects",
    description:
      "The various projects I've worked on during hackathons and my free time.",
    hoverStyle: "hover:bg-green-200 hover:text-black",
    href: "/projects",
  },
];
---

<style>
  .content {
    animation: 0.25s linear 1.5s fadeIn;
    animation-fill-mode: forwards;
    opacity: 0;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
</style>
<Layout title="Home">
  <main class="max-w-7xl mx-auto px-4 sm:px-8">
    <Greeting />
    <div class="content mt-5 max-w-3xl">
      <p class="text-lg">
        I'm an incoming Software Engineering student at the University of
        Waterloo. I love all things tech, from working on tutoring websites to
        coding robots to participating in hackathons. I'm also an avid
        basketball player, competing in tournaments across Canada and the United
        States.
      </p>
      <div class="flex gap-5 justify-center flex-wrap mt-5">
        {
          sections.map((section) => (
            <a
              href={section.href}
              class:list={[
                "border border-gray-700 p-3 w-72 transition duration-300",
                section.hoverStyle,
              ]}
            >
              <h2 class="text-xl font-bold">{section.title}</h2>
              <p>{section.description}</p>
            </a>
          ))
        }
      </div>
    </div>
  </main>
</Layout>
