---
import Layout from "../layouts/Layout.astro";

const projects = [
  {
    name: "test",
    description: "testing",
    href: "#",
  },
];
---

<Layout title="Projects">
  <main class="max-w-7xl mx-auto px-4 sm:px-8">
    <h1 class="font-mono text-2xl sm:text-3xl md:text-5xl">Projects</h1>
  </main>
</Layout>
