---
import Timeline from "../../components/Timeline.astro";
import Layout from "../../layouts/Layout.astro";

import basketball from "../../images/basketball.jpg";
import hackTheNorth from "../../images/hack-the-north.jpeg";
import robotics from "../../images/robotics.jpg";
import { Image } from "astro:assets";
---

<Layout
  title="Extracurriculars"
  description="Information about my extracurriculars throughout high school and university."
>
  <main class="max-w-7xl mx-auto px-4 sm:px-8 pt-5">
    <h1 class="font-mono text-2xl sm:text-3xl md:text-5xl">Extracurriculars</h1>
    <section class="grid grid-cols-2 gap-x-10 gap-y-5 mt-5">
      <div class="col-span-2 md:col-span-1">
        <h2 class="font-mono text-xl">Basketball</h2>
        <p class="mt-2">
          I started playing basketball at age 5 and started playing rep when I
          was 8 years old. Since then, I've played in countless tournaments and
          leagues across Canada and the United States. Most recently, I played
          for V3 Preparatory Academy and my high school's senior team.
        </p>
        <p class="mt-5">Some of the tournaments I've competed in include:</p>
        <ul class="list-disc ml-5">
          <li>All-American Jamboree in Orlando, FL</li>
          <li>Big Shots Prep Nationals in Rock Hill, SC</li>
          <li>Hoop Group Pittsburgh Jam Fest</li>
          <li>Las Vegas Live</li>
        </ul>
      </div>
      <Image
        src={basketball}
        alt="Me playing basketball"
        class="col-span-2 md:col-span-1 bg-cover bg-center h-96 object-cover object-center"
        sizes="(max-width: 767px) 703px, 588px"
        widths={[588, 703]}
      />
    </section>
    <section class="grid grid-cols-2 gap-x-10 gap-y-5 mt-7">
      <div class="col-span-2 md:col-span-1">
        <h2 class="font-mono text-xl">Robotics</h2>
        <p class="mt-2">
          I started doing robotics in grade 5 as a builder and programmer,
          helping my elementary school team win the Robot Performance Award and
          the Strategy & Innovation Award at our regional FIRST LEGO League
          (FLL) tournament. I was also a programmer for my middle school FLL
          team in grade 8, when we qualified for the provincial championship.
        </p>
        <p class="mt-5">
          In grade 9, I created a 3D model for the FIRST Robotics Competition
          (FRC) Game Design Challenge, contributing to our team winning the
          Rookie Design Award. In grades 11-12, I was a programmer and driver
          for the FRC team, working on the robot code and the team website.
        </p>
      </div>
      <Image
        src={robotics}
        alt="Robotics team working on robot"
        class="col-span-2 md:col-span-1 bg-cover bg-center h-96 object-cover object-center"
        sizes="(max-width: 767px) 703px, 588px"
        widths={[588, 703]}
      />
    </section>
    <section class="grid grid-cols-2 gap-x-10 gap-y-5 mt-7">
      <div class="col-span-2 md:col-span-1">
        <h2 class="font-mono text-xl">Hackathons</h2>
        <p class="mt-2">
          In 2022, I volunteered at Hack the North, the largest hackathon in
          Canada. Since then, I've continued to participate in hackathons during
          my free time.
        </p>
        <p class="mt-5">
          The following year, a few of my friends and I won 1st place at
          RecessHacks 3.0, the largest online hackathon for Canadian high
          schoolers. We created a <a
            href="/"
            class="underline hover:text-gray-200"
            href="https://devpost.com/software/dreamland-buddies">mobile game</a
          > promoting healthy sleeping habits using "snooze points" and various sleep
          creatures.
        </p>
      </div>
      <Image
        src={hackTheNorth}
        alt="Me in front of a Waterloo Engineering sign"
        class="col-span-2 md:col-span-1 bg-cover bg-center h-96 object-cover object-center"
        sizes="(max-width: 767px) 703px, 588px"
        widths={[588, 703]}
      />
    </section>
  </main>
</Layout>
