---
import Timeline from "../../components/Timeline.astro";
import Layout from "../../layouts/Layout.astro";

const experiences = [
  {
    title: "Innovation Developer",
    company: "Royal Bank of Canada",
    period: "Jul. 2024 - Present",
    timelineDate: "July 2024",
    type: "Full-time internship",
    points: [],
  },
  {
    title: "Quality Assurance Analyst",
    company: "GoalLine Solutions",
    period: "Jun. 2023 - Aug. 2023",
    timelineDate: "June 2023",
    type: "Part-time internship",
    points: [
      "Tested functionality, user interface, and calculations to ensure they followed specifications",
      "Created detailed tickets on Azure DevOps with screenshots and steps to reproduce",
    ],
  },
  {
    title: "Tootor Chief Website Manager",
    company: "NewArts Toronto",
    period: "May 2023 - Sep. 2023",
    timelineDate: "May 2023",
    type: "Part-time job",
    points: [
      "Managed a tutoring service with 60+ tutors and around 500 tutoring sessions per month",
      "Implemented streaming, voice support, interactive activities, and function calling into a GPT-3.5 AI tutor",
      "Led team meetings to discuss changes and potential new features for the website",
      "Adjusted colour contrast and metadata to comply with Web Content Accessibility Guidelines (WCAG)",
      "Wrote and published daily social media posts on Instagram, X, and Threads in the 3 weeks leading up to the 2023-24 school year",
      "Conducted a media launch; found media contacts and emailed them a press release",
    ],
  },
  {
    title: "Software Engineer Intern",
    company: "North P&D",
    period: "Feb. 2023 - Jun. 2023",
    timelineDate: "February 2023",
    type: "Co-op",
    points: [
      "Helped implement a website design for a client using Webflow",
      "Added new clients to the company website",
      "Submitted 12 pull requests implementing various features on the company's website, including English-French translation using react-i18next and improved loading speed",
    ],
  },
];
---

<Layout title="Work Experience">
  <main class="max-w-7xl mx-auto px-4 sm:px-8">
    <h1 class="font-mono text-2xl sm:text-3xl md:text-5xl">Work Experience</h1>
    <Timeline experiences={experiences} />
  </main>
</Layout>
