---
import { ViewTransitions } from "astro:transitions";
import Navbar from "../components/Navbar";
import { colorSchemes } from "../utils/page-info";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en-CA">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Lucas Kim - {title}</title>
    <style is:global>
      @font-face {
        font-family: 'IBM Plex Mono';
        src: url('/fonts/IBMPlexMono-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
    </style>
    <ViewTransitions />
  </head>
  <body class={colorSchemes[Astro.url.pathname]}>
    <Navbar client:load transition:persist pathname={Astro.url.pathname} />
    <slot />
    <Footer />
  </body>
</html>
